@using System.Web
@*@using Spectrum.Shared.Services.Email
    @inject IEmailService EmailService*@
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Spectrum.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div>
    <div class="property-card mx-auto">
        <div class="property-image">
            <div class="property-image-title">
                <h5> Caller ID: @Mission!.Name </h5>
                <p>Status: @Mission.Status</p>
                <input @bind="emailAddress" />
                <button>Send Mail</button>

            </div>
        </div>
        @*        <div class="property-description">
            <h5> Caller ID: @Mission.Name </h5>
            <span>Status: @Mission.Status</span>
            <p>Order Time: @Mission.StartTime</p>
            <input @bind="emailAddress" />
            <button @onclick="SendMail">Send Mail</button>
            </div>*@
        <a @onclick="ExitMission">
            <div class="property-social-icons">
                <span class="oi oi-x"></span>
            </div>
        </a>
    </div>
</div>

@code {
    [Parameter]
    public Mission? Mission { get; set; }
    [Parameter]

    public EventCallback<Mission> MissionChanged { get; set; }
    private string emailAddress = "";
    //private async void SendMail()
    //{
    //    if (EmailService.IsValidEmail(emailAddress))
    //    {
    //        await EmailService.SendEmailAsync(emailAddress, "Hello From Spectrum",
    //        new EventModel { Id = 1, Subject = "Testing", StartTime = DateTime.Now, EndTime = DateTime.Now, EmployeeId = 1 });
    //    }
    //}

    protected override async Task OnInitializedAsync()
    {
        _ = RequestNotificationSubscriptionAsync();
        applicationUser = await LoadApplicationUser();
    }
    async Task RequestNotificationSubscriptionAsync()
    {
        var subscription = await JSRuntime.InvokeAsync<NotificationSubscription>("blazorPushNotifications.requestSubscription");
        if (subscription != null)
        {
            try
            {
                var response = await Http.PutAsJsonAsync("notifications/subscribe", subscription);
                response.EnsureSuccessStatusCode();

            }
            catch (AccessTokenNotAvailableException ex)
            {
                ex.Redirect();
            }
        }
    }

    private ApplicationUser? applicationUser;
    async Task<ApplicationUser> LoadApplicationUser()
    {
        var applicationUser = new ApplicationUser();
        try
        {
            applicationUser = await Http.GetFromJsonAsync<ApplicationUser>("/api/portal");
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
        return applicationUser!;
    }

    public async Task CreatePortal()
    {
        var response = await Http.GetAsync("/notifications/send");
        response.EnsureSuccessStatusCode();
    }
    

    private void ExitMission()
    {
        Mission = null;
        MissionChanged.InvokeAsync(Mission);

    }

}