@page "/sub/{portalAddress}"
@if(SpectrumPortal is null)
{
        <h1>Loading Please Wait</h1>

}else {
<MissionBoard SpectrumPortal="SpectrumPortal"></MissionBoard>
}
@code {
    [Parameter]
    public string? PortalAddress { get; set; }
    public SpectrumPortal? SpectrumPortal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SpectrumPortal = new SpectrumPortal() { PortalAddress = PortalAddress! };
    }
}
