@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Spectrum.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (applicationUser == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>xGreeting @applicationUser.UserName</h1>
        
    <h1>Your Port Limit: @applicationUser.SpectrumPortalLimit </h1>
    @if (applicationUser.SpectrumPortal != null)
    {
        @foreach (var v in applicationUser.SpectrumPortal!)
        {
            <h1>@v.Name</h1>
            <h1>@v.Id</h1>
        }

    }
    <h1></h1>
    <h1></h1>
}

@code {
    private ApplicationUser? applicationUser;
    async Task<ApplicationUser> LoadApplicationUser()
    {
        var applicationUser =  new ApplicationUser();
        try
        {
            applicationUser = await Http.GetFromJsonAsync<ApplicationUser>("TenantInfo");
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
        return applicationUser!;
    }

    protected override async Task OnInitializedAsync()
    {

        applicationUser = await LoadApplicationUser();
        _ = RequestNotificationSubscriptionAsync();

    }


async Task RequestNotificationSubscriptionAsync()
{
    var subscription = await JSRuntime.InvokeAsync<NotificationSubscription>("blazorPushNotifications.requestSubscription");
    if (subscription != null)
    {
        try
        {
            var response = await Http.PutAsJsonAsync("notifications/subscribe", subscription);
            response.EnsureSuccessStatusCode();

        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
    }
}
}
