@page "/"

<PageTitle>Index</PageTitle>

 <h1 class="rainbow-bg">
        Welcome to Spectrum Resturant Mission Board
</h1>
<NavLink class="nav-link" target="_blank" href="missionboard/admin">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Mission Board Admin
</NavLink>
<p>User Login</p>
<p>
Order generator
<ol> Database: Only Allow single Admin</ol>
</p>
<p>Send Mail function removed: to be trigger on server</p>
<p>adding SPA web notification</p>


<p>
Optional: Fast Order
</p>
