@page "/"

<PageTitle>Index</PageTitle>

 <h1 class="rainbow-bg">
        Welcome to Spectrum Resturant Mission Board
</h1>
<NavLink class="nav-link" target="_blank" href="missionboard/admin">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Mission Board Admin
</NavLink>
<a href="https://github.com/SPWwj/Spectrum">Github Repo</a>