@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>Index</PageTitle>
<NavLink class="nav-link" target="_blank" href="missionboard/admin">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Mission Board Admin
</NavLink>
<a href="https://github.com/SPWwj/Spectrum">Github Repo</a>
<p>Testing email Fake : spectrum@sp.com</p>
<p>password           : 123!@@#Qwe</p>

<p>For email notification enter your own email address, your should be able to receive email.</p>
<p>For web notificate only working on localhost environment.</p>

@code {


}